.back-top{
  position: fixed;
  opacity: 0;
  right: 0px;
  bottom: 30px;
  z-index: 1;
  animation: action 1s infinite alternate;
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}
