<div
  [ngClass]="footerContainerCssClasses"
  class="
    d-flex
    flex-column flex-md-row
    align-items-center
    justify-content-between
  "
>
  <!-- begin::Copyright  -->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted fw-bold me-2">{{ currentDateStr }} &copy;</span>
    <a class="text-gray-800 text-hover-primary cursor-pointer"> LEPAN BAKERY </a>
  </div>
  <!-- end::Copyright  -->

  <!-- begin::Nav  -->
  <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
    <li>
      <a class="cursor-pointer" href="https://www.facebook.com/lepan.penang/"> <img src="./assets/media/svg/brand-logos/facebook-4.svg" alt="" class="w-30px me-6"> </a>
    </li>
    <li>
      <a class="cursor-pointer" href="https://www.instagram.com/lepan.penang/?hl=en"> <img src="./assets/media/svg/brand-logos/instagram-2-1.svg" alt="" class="w-30px me-6"> </a>
    </li>
  </ul>
  <!-- end::Nav  -->
</div>
